/* $bp-xsmall: 420px;
$bp-small: 599px;
$bp-medium: 764px;
$bp-large: 989px;
$bp-xlarge: 1199px; */
.gridContainer{
  padding: .9375rem 0;
}

.galleryGrid {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-gap: 8px; 
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
    img {
      width: 90%;
      border: 5px solid #fefefe;
    }